/* src/BackgroundAnimation.css */
.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* behind everything */
    opacity: 0.23; /* subtle effect */
    background-repeat: repeat;
    background-size: 68px 56px;
    animation: moveBackground 40s linear infinite; /* faster animation */
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 680px 560px;
    }
}
